################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/microfrontend/FileContentIndex/e3ecf4a9-1063-4efb-883a-0ae453f29348.vsidx
*.vsidx
